body {
	margin: 0px;
	padding: 10px;
	background-color: #262626;
	font-family: Arial, Helvetica, sans-serif;
	color:#dddddd;
}

SPAN.Name {
	font-size: 3.0em;
	font-weight: bold;
}

SPAN.Ip {
	font-weight: bold;
}

SPAN.Head {
	font-style: italic;
	color: #aaaaaa;
}

SPAN.Info {
	font-weight: bold;
}

DIV.Items {
	margin: 0px;
}

DIV.Items A,
DIV.Items DIV {
	display: inline-block;
	width: 100px;
	border: 1px solid #333333;
	text-align: center;
	text-decoration: none;
}

DIV.Items .V0 {
	background-color: gray;
}

DIV.Items .V1 {
	background-color: green;
}

DIV.Items .Err {
	background-color: red;
}

A {
	color: #dddddd;
	text-decoration: none;
}
A:hover {
	text-decoration: underline;
}

.B {
	font-weight: bold;
}
